* {
  margin-top: 0;
  margin-inline: 0;  
}
body {
  background: #fdfdf1;
}

header, footer {
  background: #0e1010;
  font-family: 'Signika Negative', sans-serif;
  font-family: 'Spartan', sans-serif;
  color: #A7BEAE;
}

li {
  list-style: none;
  
}

a {
  text-decoration: none;
  color: #A7BEAE
}

footer {
  color: #A7BEAE;
  display: flex;
  justify-content: end;
}
